<li class="dropdown" data-admin-menu>
    <a href="#">
        Administration
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Administration af</li>
        <li class="divider"></li>
        <li><a href="Bog">Bøger</a></li>
        <li><a href="Genre">Genrer</a></li>
        <li><a href="Forfatter">Forfattere</a></li>
    </ul>
</li>
