@model Bibliotek.Models.Genre

@{
    ViewBag.Title = "Slet Genre";
}


<h3>Vil du slette denne genre?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til Genrer", "Index")
        </div>
    }
</div>
