@model Bibliotek.Models.Genre

@{
    ViewBag.Title = "Detaljer om Genre";
}

<h2>Detaljer om Genre</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ret", "Edit", new { id = Model.GenreId }) |
    @Html.ActionLink("Tilbage til Genrer", "Index")
</p>
